{% if languages|length > 1 %}
	<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
		<div class="btn-group">
			<button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
				{{ code }}
			</button>
			<div class="dropdown-menu dropdown-menu-right">
				{% for language in languages|filter(language => language.code != code) %}
					<button class="dropdown-item language-select" type="button" name="{{ language.code }}">
						{{ language.name }}
					</button>
				{% endfor %}
			</div>
		</div>
		<input type="hidden" name="code" value=""/>
		<input type="hidden" name="redirect" value="{{ redirect }}"/>
	</form>
{% endif %}
